<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand"><img class="mx-5" src="assets/images/logo.png" width="50" height="50" alt="logo"></a>
    <span class="navbar-brand mb-0 h1"><a target="_blank" href="https://gitlab.com/alpertoy/images-app"><img src="assets/images/gitlab.png" width="50" height="50" alt="logo">Gitlab Repository</a></span>
  </div>
</nav>
