<app-spinner *ngIf="loading"></app-spinner>
  <div *ngIf="!loading" class="card-columns mt-4">
    <div class="card" *ngFor="let image of imagesList">
      <img [src]="image.previewURL" class="card-img-top" alt="...">
      <div class="card-body text-center">
        <a [href]="image.largeImageURL" target="_blank" class="btn btn-dark">View</a>
      </div>
      <div class="card-footer text-muted text-center">
        <div class="row">
          <div class="col">
            <p class="likesViews">Likes</p>
            <span class="badge bg-secondary text-white">{{ image.likes }}</span>
          </div>
          <div class="col">
            <p class="likesViews">Views</p>
            <span class="badge bg-secondary text-white">{{ image.views }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="imagesList.length > 0" class="d-flex justify-content-center mt-2">
  <ul class="pagination pagination-lg">
    <li class="page-item" *ngIf="previousPageClass()">
      <a class="page-link" (click)="previousPage()">&laquo; Previous</a>
    </li>
    <li class="page-item" *ngIf="nextPageClass()">
      <a class="page-link" (click)="nextPage()">Next &raquo;</a>
    </li>
  </ul>
</div>

