<div class="container mt-4 mb-4">
  <form (ngSubmit)="searchImages()">
    <div class="row">
      <div class="col-lg-8">
        <input type="text" class="form-control form-control-lg" [(ngModel)]="imageName"
          name="img" placeholder="Search an image">
      </div>
      <div class="col-lg-4">
        <button class="btn btn-dark btn-lg btn-block" type="submit">Search</button>
      </div>
    </div>
  </form>
</div>
